@import '../../global.scss';

.section {
  max-width: 100%;
  padding: 1rem 0;

  h1 {
    margin-bottom: 1rem;
  }

  /* outline: 1px solid red; */
  /* border-radius: $brSmall;
  background-color: #393939;
  filter: drop-shadow(0 0 0.1rem #ffffff); */
}
